:root{
    --dark: #1D5B79;
    --background: #468B97;
    --button: #EF6262;
    --button-hover:#F3AA60;
    --text: whitesmoke;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--dark);
    overflow-x: hidden;
}
.wrap{
    display: grid;
    place-items: center;
    height: 100vh;
}
.circle{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: var(--button); 
}
.line{
    width: 0.1rem;
    height: 60rem;
    background-color: var(--button-hover);
}
.heading{
    font-family: 'Borel';
}
.heading2{
    font-family: 'Borel';
}
.txt{
    margin-top: -99vh;
    color: var(--text);
}
.txt2{
    margin-top: 2vh;
    color: var(--text);
}
.build{
    height: 55vh;
    width: 49.5vw;
    background-image: url('buildings_remove.png');
}
.build2{
    height: 60vh;
    width: 49.5vw;
    background-image: url('buildings_remove.png');
}
.para{
    font-family: 'Ubuntu';
    width: 50vw;
    margin-left: 49.8vw;
}
.para2{
    font-family: 'Ubuntu';
    width: 50vw;
    margin-left: 49.8vw;
}
